* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Hi Melody", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    line-height: 1.6;
    color: #125B75;
    background: #C7DBEC;
}

header {
    font-size: 3rem;
    text-align: left;
    padding-left: 2rem;
}

.about {
    text-align: left;
    padding-left: 2rem;
    background-color: #F9B8D4;
    color: white;
}

section {
    margin: 1rem;
    padding: 1rem;
}

.saltflat {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.saltflat img {
    flex: 1 1 500px;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-style: solid;
    border-color: #125B75;
    border-width: 3px;
}

.model {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.model img {
    flex: 1 1 500px;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-style: solid;
    border-color: #125B75;
    border-width: 3px;
}

.street {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;  
}

.street img {
    flex: 1 1 500px;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-style: solid;
    border-color: #125B75;
    border-width: 3px;
}

footer {
    text-align: center;
}